body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    padding: 20px;
}

.logo-img{
    display:block;
    margin:0 auto;
}

.center-span{
    
    margin: 0 auto;
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top:0px;
}

fieldset label{
    font-size: 90%;
}

form input{
    display: block;
    width: 100%;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom:25px;
}

form input[type="submit"]{
    background-color: #f7c548;
    font-size: 90%;
}